/* * {
    box-sizing: border-box;
} */

/* Extra small and small devices (phones, portrait tablets) */
[class*="col-"] {
  width: 100%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* Navbar Styling
========================================================================== */

nav rux-button {
  margin: 2px;
}

nav img {
  max-width: 50px;
  position: relative;
  top: 10px;
}

/* Main-Page Styling
========================================================================== */

#loggedOutPage,
#homePage {
  text-align: center;
  margin-top: 100px;
}

#loggedOutPage img {
  max-width: 300px;
}

#loggedOutPage h5 {
  margin-top: 0;
}

#signupPage,
#loginPage {
  max-width: 300px;
  margin: auto;
}

#signupPage .rux-form-field,
#loginPage .rux-form-field {
  display: block;
}

#signupPage input,
#loginPage input {
  background-image: none;
  background-color: rgb(60, 82, 105);
  color: white;
}

#signupPage {
  margin-top: 50px;
}

#loginPage {
  margin-top: 100px;
}

.dashboard section {
  border: 10px solid #182636;
}

.financePage h1,
.dashboard h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.5px;
  padding: 10px;
  background: #001825;
  border: 2px solid #ffa011;
  border-radius: 11px;
  box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.dashboard h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  /* background: #001825;
  border: 2px solid #ffa011;
  border-radius: 11px;
  box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12), 0px 5px 5px -3px rgba(0,0,0,0.2); */
}

.gm-issues,
.gm-requirements,
.project-select,
.project-timeline,
.project-requirements,
.project-issues,
.project-team {
  float: left;
}

.gm-team,
.gm-funding-requests,
.gm-budget {
  float: right;
}

/* Create-Project-Page Styling
========================================================================== */

.form {
  max-width: 90%;
  display: flex;
  margin: auto;
  margin-top: 0rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1em;
  overflow-wrap: break-word;
}

pre {
  max-width: 90%;
  margin: auto;
  background: white;
  color: black;
  padding: 2em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-child {
  flex: content;
}

.flex-child:first-child {
  margin-right: 64px;
}

Form {
  display: flex;
  flex-direction: column;
}

Form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

Form div label {
  display: flex;
  margin: 0 0 0.15rem;
  width: 100%;
  align-content: center;
  align-items: center;
}

Form div Input {
  box-sizing: border-box;
  min-width: 228px;
  width: 100%;
  border: 1px solid transparent;
  border: 1px solid var(--inputBorderColor, transparent);
  border-radius: 3px;
  font-size: 1rem;
  font-size: var(--fontSize, 1rem);
  color: #000;
  color: var(--inputTextColor, rgb(0, 0, 0));
  height: 2.125rem;
  padding: 0 1rem;
  margin-top: 0.4rem;
}

Form div Textarea {
  box-sizing: border-box;
  min-width: 228px;
  width: 100%;
  border: 1px solid transparent;
  border: 1px solid var(--inputBorderColor, transparent);
  border-radius: 3px;
  font-size: 1rem;
  font-size: var(--fontSize, 1rem);
  color: #000;
  color: var(--inputTextColor, rgb(0, 0, 0));
  -webkit-order: 2;
  min-height: 4.25rem;
  padding: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-family: var(--fontFamily, "Open Sans", sans-serif);
  margin-top: 0.4rem;
}

Form div Select {
  min-width: 228px;
  margin-top: 0.4rem;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ffffff;
  background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select-type {
  position: relative;
  display: flex;
  width: 15em;
  height: 2em;
  line-height: 2;
  /* background: #203246; */
  background-color: white;
  overflow: hidden;
  border-radius: 0.25em;
}

select {
  flex: 1;
  padding: 0 0.5em;
  color: black;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

/* Arrow */
.select-type::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #005a8f;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

/* Transition */
.select-type:hover::after {
  background: #3a81bf;
}

.project-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.5px;
  margin-top: 26px;
  padding: 10px;
  background: #001825;
  border: 2px solid #ffa011;
  border-radius: 11px;
  box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}